.blogContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#introduction {
    font-weight: bold;
}

#sub-heading {
    text-decoration: underline;
}

.postDate {
    font-weight: lighter;
    color: rgb(112, 112, 112);
}

blockquote {
    border: 1px dashed gray;
    padding: 20px;
    color: darkred;
    font-style: italic;
}

.blogSection {
    text-align: left;
    padding: 20px;
}

.blogImage {
    width: 50%;
    height: 500px;
}

@media (max-width: 320px) {
    blockquote {
        padding: 5px;
        margin-left: 0;
        margin-right: 0;
    }
    .blogImage {
        width: 100%;
        height: 200px;
        margin-left: 0;
    }
}

@media (min-width: 320px) and (max-width: 650px) {
    blockquote {
        padding: 7.5px;
        margin-left: 0;
        margin-right: 0;
    }
    .blogImage {
        width: 100%;
        height: 300px;
        margin-left: 0;
    }
}

@media (min-width: 651px) and (max-width: 1100px) {
    .blogImage {
        width: 50%;
        height: 300px;
    }
}